@CHARSET "UTF-8";

.headdiv .contdiv {
	width: 98%;
	height: 200px;
	text-align: center;
}

body {
	text-align: center;
	background: rgba(50%, 50%, 50%, .2) url("Images/iron_texture637.jpg") no-repeat;
}

.contdiv {
	height: 600px;
}

.menulist < a {
	display: inline-block;
}